p{
    color: black;
}
.millitos{
  
}
/* *{
    font-family: verdana;
}
.padreS{
    display: flex;}

.S1{
    text-align: -webkit-center;  
    margin-bottom: 3%;
   
}
.S2{
    margin-left: 2%;
    width: 200%;   
}
.ImgS{
    width: 100%;
   
  }
    

.Im{
    max-width: 35%;
    border-radius: 150%;
 
}
.goals{
   
    
    display: flex;
    justify-content: space-evenly;
   
    background: aliceblue;
}
.garticle{
    background-color: aliceblue;
    
}
.farticle{
    
  
    background-color: aliceblue;

   
   
}

.informacion{
display: grid;
margin-bottom: 3%;
background-color: aliceblue;
}
.ainput{
    width: 100%;
    text-align: center;
    margin-top: 2%;
   
    padding-bottom: 1%;

}
.nameinput{
    text-align: -webkit-center;
    padding: 1%;
    width: 85%;
}

.nombrepersona{
    font-size: 20px;
    margin-bottom: 2%;
}
.part1{
    background-color: aliceblue;
}
.part2{
    background-color: aliceblue;
    margin-top: 5%;
}
.aespecialidades{
  
    padding-top: 1%;
}
.sbotones{
    padding-bottom: 4%;
    padding-top: 5%;
    
}
.botones{
   
    border-radius: 15px;
  font-size: calc(1rem+1.5vw);
    font-weight: 500;
    font-family: sans-serif;
    padding: 4px;
    margin-left: 2%;
    margin-right: 2%;
}
.secarticle{
    display: flex;    
    justify-content: center;
}
.sarticle1{
    display: flex;
    flex-direction: column;
    text-align: end;
}
.sarticle2{
    margin-left: 1rem;
}


.S2part1{
    background-color: aliceblue;
    font-size: 2rem;
}
.S2parte2{
    background-color: aliceblue;
    margin-top: 8%;
}
h3{
    font-size:2rem;
}
.p
{
    display: flex;
    width: 100%;
    font-size: 1rem;
} */
.ImgS{
    width: 100%;
   
  }
    

.Im{
    max-width: 70%;
    border-radius: 150%;
 
}
